<div class="poster">
<img src="../../assets/menub.jpg" alt="menu poster"  width="100%">
</div>

<!-- //card-section// -->

<div class="social-box">
  <div class="container">
    <h1>VEG ITEMS</h1>
     <div class="row veg-row">
        <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
                      <img src="../../assets/basmati rice2.jpg" style="width: 20rem;" aria-hidden="true">
          <div class="box-title">
            <h3>BASMATI RICE</h3>
          </div>
          <div class="box-text">
            <span>PRICE: 100rs</span>
          </div>
         </div>
      </div>	 
       <div class="col-lg-4 col-xs-12  text-center">
        <div class="box">
          <img src="../../assets/cholar dal2.jpg"  style="width: 20rem;" aria-hidden="true">
          <div class="box-title">
            <h3>CHOLAR DAL</h3>
          </div>
          <div class="box-text">
            <span>PRICE: 50rs</span>
          </div>
         </div>
      </div>	 
       <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <img src="../../assets/potol2.jpg"  style="width: 20rem;" aria-hidden="true">     
              <div class="box-title">
            <h3>POTOL TARKARI</h3>
          </div>
          <div class="box-text">
            <span>PRICE: 40rs</span>
          </div>
         </div>
      </div>	   
      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <img src="../../assets/mix2.jpg"  style="width: 20rem;" aria-hidden="true">       
            <div class="box-title">
              <h3>MIX VEG</h3>
          </div>
          <div class="box-text">
            <span>PRICE: 60rs</span>
          </div>
         </div>
      </div>	
      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <img src="../../assets/nan.jpg"  style="width: 20rem;" aria-hidden="true">     
              <div class="box-title">
            <h3>NAN</h3>
          </div>
          <div class="box-text">
            <span>PRICE: 15rs</span>
          </div>
         </div> 
    </div>		
  </div>
</div>
<br><br>
           <!-- //Non-veg// -->
 <div class="social-box">
   <div class="container">
     <h1>NON-VEG ITEMS</h1>
               <div class="row"> 
       <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <img src="../../assets/chicken.jpg"  style="width: 20rem;" aria-hidden="true">       
          <div class="box-title">
            <h3>Chicken</h3>
          </div>
          <div class="box-text">
            <span>PRICE: 150rs</span>
          </div>
         </div>
      </div>	 
      
       <div class="col-lg-4 col-xs-12 text-center">
        <div class="box">
          <img src="../../assets/daabchingri.jpg"  style="width: 20rem;" aria-hidden="true">       
          <div class="box-title">
            <h3>DAB CHINGRI</h3>
          </div>
          <div class="box-text">
            <span>PRICE: 200rs</span> 
           </div>
         </div>
        
      </div>
      <div class="col-lg-4 col-xs-12 text-center">
        <div class="box-new">
          <img src="../../assets/motton.jpg"  style="width: 20rem;" aria-hidden="true">       
            <div class="box-title">
              <h3>Motton</h3>
          </div>
          <div class="box-text">
            <span>PRICE: 200rs</span>
          </div>
         </div>
      </div>	 
    </div>
  </div>
  
 